<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.signal.Mapper.userMapper">
    
    <select id="userlist" resultType="kr.signal.domain.t_user">
    	select * from t_user
    </select>
    
    <insert id="joinInsert" parameterType="kr.signal.domain.t_user">
        insert into t_user(u_id, u_pwd, u_name, u_nickname, u_phone, u_email, u_addr, u_joindate, admin_y)
        values(#{u_id}, #{u_pwd}, #{u_name}, #{u_nickname}, #{u_phone}, #{u_email}, #{u_addr}, #{u_joindate}, 'n')
    </insert>
    
</mapper>