<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.signal.Mapper.userMapper">
    
    <select id="userlist" resultType="kr.signal.domain.t_user">
    	select * from t_user
    </select>
    
    <insert id="joinInsert" parameterType="kr.signal.domain.t_user">
        insert into t_user(u_id, u_pwd, u_name, u_nickname, u_phone, u_email, u_addr, u_joindate, admin_y)
        values(#{u_id}, #{u_pwd}, #{u_name}, #{u_nickname}, #{u_phone}, #{u_email}, #{u_addr}, NOW(), 'n')
    </insert>
    
    <select id="t_userqna" resultType="kr.signal.domain.t_qna">
        select * from t_qna where u_id=#{u_id}
    </select>
    
    <update id="userUpdatedo" parameterType="kr.signal.domain.t_user">
        update t_user set u_pwd=#{u_pwd}, u_name=#{u_name}, 
        u_nickname=#{u_nickname}, u_phone=#{u_phone}, 
        u_email=#{u_email}, u_addr=#{u_addr} where u_id=#{u_id}
    </update>
    
    
    <insert id="qnaInsert" parameterType="kr.signal.domain.t_qna">
        insert into t_qna(qna_seq, qna_subject, qna_content, qna_date, qna_file1, qna_file2, u_id, qna_open_yn)
        values(AUTO_INCREMENT, #{qna_subject}, 	NOW(), #{qna_date}, null, null, #{u_id}, #{u_qna_open_yn})
    </insert>
    
    <!-- 
    <select id="t_userqna" resultType="kr.signal.domain.t_qna" parameterType="kr.signal.domain.t_user">
            select * from t_qna where u_id = (select u_id=
                									from t_user 
                										where u_id=#{u_id});
    </select>
     -->

</mapper>